{% extends 'base.html.twig' %}


{% block body %}

	{}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">nom</th>
				<th scope="col">prenom</th>
				<th scope="col">email</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
				<tr>
					<th scope="row">{{contact.id}}</th>
					<td>{{article.name}}</td>
					<td>{{contact.description}}</td>
					<td>{{contact.content}}</td>
                    <td>{{contact.created_At}}</td>
                    <td>{{contact.created_At}}</td>
					<td>
						<a href="{{ path('modify', {id: contact.id}) }}" class="btn btn-primary">modify</a>
					</td>
					<td>
						<a href="{{ path('delete', {id: contact.id}) }}" class="btn btn-danger">delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('contact')}}" class="btn btn-succes">Add a contact</a>

{% endblock body %}
